.pc-body
{
    background: #d9cfc1;
    min-height: 800px;
    /*display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;*/
}
