:host
{
    width: 100%;
}

.photo
{
    max-width: 100%;
    height: auto;
}

.photo-container
{
  position: relative;
}

.photo-loader-spinner
{
  margin-top: 200px;
  font-size: 120px;
  color: darkslategrey;
}

.photo-loader-wrapper
{
  height: 700px;
}

.delete-button
{
  text-align: right;
}
