  <nav class="navbar navbar-toggleable-md navbar-light bg-faded col-12">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Pavadinimas?</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/" class="nav-item nav-link active">Pradžia</a>
        <a class="nav-item nav-link" href="#">Kažkas</a>
        <a class="nav-item nav-link" href="#">Kontaktai</a>
      </div>
    </div>
  </nav>