  <nav class="navbar navbar-toggleable-md navbar-light bg-faded col-12">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/" class="navbar-brand" href="#">Pradžia</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/upload" class="nav-item nav-link" *ngIf="userService.GetUserLoggedIn()">Įkelti nuotrauką</a>
      </div>
      <div class="navbar-nav">
        <a routerLink="/gallery/{{id}}" class="nav-item nav-link" *ngIf="userService.GetUserLoggedIn()">Tavo galerija</a>
      </div>
    </div>
  </nav>
