.vote
{
  width: 40px;
  height: 40px;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-top: 2px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.vote:hover
{
  cursor: default;
}

.vote-user
{
  font-size: 18px;
}

.vote-wrapper
{
  position: relative;
  display: block;
}

.vote-minus
{
  background: lightcoral;
}

.vote-plus
{
  background: lightgreen
}

.vote-neutral
{
  background: lightgray;
}
