.pc-container
{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    background: black;
}

.pc-flex
{
    display: flex;
    flex: 1;
}
