<div class="row">
  <div class="col-12 col-md-6">
    <div class="card login-form">
      <h2>Prisijungti!!</h2>
      <form [formGroup]="form" (ngSubmit)="LoginUser()" novalidate>

          <div class="form-group"
            [ngClass]="{
              'has-danger': email.dirty && email.invalid,
              'has-success': email.dirty && email.valid
            }"
          >
            <label for="email">Elektroninis paštas:</label>
            <input name="email" type="email" class="form-control" placeholder="El. paštas" formControlName="email">
            <div class="form-control-feedback" *ngIf="email.dirty && email.invalid && email.touched">
              <p *ngIf="email.errors.pattern">e-mail adresas neteisingas, adresas turi turėti @ ženklą.</p>
              <p *ngIf="email.errors.required">Laukelis yra būtinas!</p>
            </div>
          </div>

          <div class="form-group"
            [ngClass]="{
              'has-danger': password.dirty && password.invalid,
              'has-success': password.dirty && password.valid
            }"
          >
            <label for="password">Slaptažodis:</label>
            <input type="password" class="form-control" name="password" placeholder="Slaptažodis" formControlName="password">
            <div class="form-control-feedback" *ngIf="password.dirty && password.invalid && password.touched">
              <p *ngIf="password.errors.minlength">Slaptažodis turi būti ne trumpesnis nei 8 simboliai.</p>
              <p *ngIf="password.errors.required">Laukelis yra būtinas!</p>
            </div>
          </div>
          <div class="has-danger">
            <p class="form-control-feedback">{{errorMessage}}</p>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
