html, body
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

button
{
  cursor: pointer;
}

.hidden
{
  display: none;
}

.pc-center
{
    margin-left: auto;
    margin-right: auto;
}

.text-grey
{
    color: grey;
}

.text-dark-grey
{
  color: darkslategrey;
}

.pt-spinner
{
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 150px;
  width: 100%;
  color: lightslategray;
}
