html, body
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

button
{
  cursor: pointer;
}

.hidden
{
  display: none;
}

.pc-center
{
    margin-left: auto;
    margin-right: auto;
}

.text-grey
{
    color: grey;
}
